* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canvas1 {
    width: calc(500*1.618px);
    height: 500px;
    background-color: gray;
}